{% extends "layouts/layout.html.twig" %}

{% block content %}

    {% if payment_status == 'paid' %}

        <h1>{{ lang.shopping_cart.order_confirmation.thanks }}</h1>
        <p>
            {{ lang.shopping_cart.order_confirmation.paid }}
        </p>

    {% elseif payment_status == 'pending' %}

        <h1>{{ lang.shopping_cart.order_confirmation.thanks }}</h1>
        <p>
            {{ lang.shopping_cart.order_confirmation.pending }}
        </p>

    {% else %}

        <h1>{{ lang.shopping_cart.order_confirmation.oops }}</h1>
        <p>
            {{ lang.shopping_cart.order_confirmation.error }}
        </p>

        <form action="{{ lang.url.checkout }}" method="post">
            <p>
                <button class="btn btn-link" type="submit">{{ lang.shopping_cart.order_confirmation.retry }}</button>
            </p>
        </form>

    {% endif %}

{% endblock %}