{% extends "layouts/layout.html.twig" %}

{% block content %}

    <h1>{{ page_title }}</h1>
    <p class="lead">
        {{ site_slug }}
    </p>

    <p>{{ lang.page_support.content|raw }}</p>

    {{ parent() }}

    {{ include("blocks/support.html.twig", [
    'faq', faq
    ]) }}

{% endblock %}